
* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
html {
	width:100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	background:url(../../static/img/newbg.png) no-repeat center center fixed ;
	background-size: cover;
}
.container {
width: 100%;
height: 100%;
/*max-width:window.screen.width;*/
}
@media only screen and (min-width:800px){
    html{font-size:130%;}
    .container>div {
  width:100%;
  height: 100%;
  }
}
img {
	width: 100%;
}
#menu {
	background:#427F98;
	width: 100%;
	height: 13%;
	position: relative;
	opacity: 0.9;

}
.logo {
	width: 50%;
	padding: 15% 0;
	margin:0 auto;
}
#bar {
	width: 24%;
	position: absolute;
	bottom: 14%;
	left:40% ;
	display: none;
}
.form {
	background: #f9cb9c;
}
#left {
    position: fixed;
	height: 100%;
	width: 10%;
	color: #fff;
	z-index: 100;
	top:0;
	left: 0;
}
#right {
	width: 100%;
	height: 100%;
}
#ulcontainer {
	display: block;
	height:100% ;
	width: 100%;
	background:#427F98;
	opacity: 0.9;
}
#barul {
	height:100% ;
	width: 100%;
	position: absolute;
	top: 56%;
	left: 0;
}
#barul li {
	font-size: 0.9rem;
	text-align: center;
	padding: 10% 0;
	margin: 0 auto;
}

.right {
	width: 100%;
	height: 100%;
}
#lw {
	height: 100%;
	margin:15% auto 0 auto;
	color:#013A4C
}
.biglogo {
	width: 10%;
	height: 4%;
    margin: 0 auto;
}
.word {
    width: 73%;
	height: 7%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 3%;
    text-align: center;
    color: #013A4C;
    font-size: 4rem;
}
.pre {
	width: 60%;
	height: 3.5%;
	margin: 3% auto;
	color: #013A4C;
    font-size: 1.5rem;
    text-align: center;
}
#down {
	width: 4%;
	height: 7%;
	position: absolute;
	z-index:600 ;
	left: 50%;
	bottom: 5%;
}
#about1 {
	width: 100%;
	height: 100%;
	position:relative;
}
.abstory {
	text-align: left;
	color: #406C77;
	opacity: 0.9;
	font-size: 1.5rem;
	font-weight: 600;
    font-family: PingFangHK-Semibold;
	position: absolute;
	top:7%;
	left:16% ;

}
.absolution {
    text-align: left;
	color: #406C77;
	opacity: 0.9;
	font-size: 1.5rem;
	font-weight: 600;
    font-family: PingFangHK-Semibold;
	position: absolute;
	top:7%;
	left:16% ;

}
.abapplication {
    text-align: left;
	color: #406C77;
	opacity: 0.9;
	font-size: 1.5rem;
	font-weight: 600;
    font-family: PingFangHK-Semibold;
	position: absolute;
	top:7%;
	left:16% ;

}
#teaimg {
	width:100% ;
	height: 40%;
    position: fixed;
    top: 20%;
    left: 16%;
    bottom: 70%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
}
#teaimg1 {
	width:100% ;
	height: 100%;
}
#teaimg img {
	/*float: left;*/
	width:30%;
	height: 100%;
	margin-right: 2%;
}
#article {
	word-spacing: 3px;
	height:25% ;
	position: fixed;
	left:0;
	top: 60%;
	width:100%;
	padding-top:4%;
	bottom: 0%;
	overflow-y: scroll;
	background:#fff;
	-webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
}
#aboutarticle {
	width:68% ;
	height: 100%;
	margin: 0 auto;
	font-family: PingFangHK-Light;
	font-size: 1rem;
	color:#4F6E62;
	letter-spacing: 0;
	line-height: 1.2rem;
}
#solution1 {
	width: 100%;
	height: 100%;
}
#solutionimg {
	width:100% ;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 20%;
    bottom: 0%;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
}
#solimg {
	height: 100%;
}
#article1{
	position: fixed;
	right:5%;
	top: 65%;
    width:55% ;
    height:20% ;
	margin-left:35% ;
	padding-top:2%;
	padding-bottom:2%;
	bottom: 0%;
	overflow-y: scroll;
	background:#859C7E;
	-webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
}
#solutionarticle {
	width:90% ;
	margin:0 auto;
	font-family: PingFangHK-Light;
	font-size: 0.8rem;
	color: #fff;
	letter-spacing: 0;
	line-height: 1.2rem;
}
#solutionbg {
	position: fixed;
	right: 2%;
	width: 200%;
	z-index: -100;
}
.bgpic {
	background:url(../img/background.png) no-repeat center center fixed ;
	background-size: cover;
}
#dat1,#dat2 {
	width: 100%;
	height: 100%;
	position: relative;
	height: 100%;
	color: #fff;
}
#box3 {
	width: 80%;
	height: 90%;
	padding-left: 13%;
	padding-top:10% ;
}
#box3 {
	width: 80%;
	height: 90%;
	padding-left: 10%;
	padding-top:10% ;
}
#box33 {
	width: 80%;
	height: 90%;
	padding-left: 10%;
	padding-top:10% ;
}
#box333 {
	width: 80%;
	height: 90%;
	padding-left: 10%;
	padding-top:10% ;
}
#realtitle,#weeklydata {
	width: 20%;
	height: 10%;
	text-align: center;
	color: #fff;
	opacity: 0.9;
	font-size: 1.5rem;
	font-weight: 600;
    font-family: PingFangHK-Semibold;
	position: absolute;
	top:7%;
	left:16% ;
	z-index: 600;
}
#weeklydata {
	margin-bottom: 10%;
}
#slider {
	font-size: 0.7rem;
	width: 48%;
	height: 50%;
	background: #759F1F;
}
#time11 {
	font-size: 0.8rem;
	width: 46%;
	float: left;
	margin-top:2% ;
}
#sl1 {
	background: #92C627;
}
#sl1,#sl2,#sl3 {
	display:flex;/*Flex布局*/
    align-items:center;/*指定垂直居中*/
	border-radius: 50%;
	width: 30%;
	height:100% ;
	float: left;
}
.dat1contain {
	padding-top: 15%;
	margin-left:16% ;
	width:100% ;
	height:100%;
	font-size: 0.6rem;
	color:#fff ;
	text-align: center;
}
.dat1contain>div{
	padding-top: 4%;
	width: 25%;
	height:20% ;
	float: left;
}
.td4 {
	border-bottom:1px #8FC31F solid;
	 }
.td3 {
	 border-right:1px #8FC31F solid;
	 }
.dat1contain img {
	width:20% ;
	margin-bottom: 8%;
}
.dat1contain span {
	font-size: 1rem;
}
.dat1contain .dif {
 	font-size: 0.5rem;
	color:#36E39C ;
}
.tabcontain {
	margin-bottom: 5%;
	padding-left: 3%;
	width:30% ;
	float: left;
}
#toright1 {
	position: absolute;
	top:47%;
	right: 5%;
}
#toleft1 {
	position: fixed;
	top:47%;
	left: 5%;
	z-index: 200;
}
.sub {
	font-size: 0.6rem;
	text-align: left;
	margin-left: 2%;
	width: 60%;
	height:13% ;
	vertical-align: middle;
    text-indent: 0.3rem;
}
.sub img {
	width:22%;
	vertical-align: middle;
}
#application1 {
	width: 100%;
	height: 100%;
}
#box4{
	width: 100%;
	margin-top: 15%;
	height: 100%;
}
#appimg {
	width:100% ;
	height: 34%;
	margin: 0 auto 5% 14%;
}
#appimg img {
	width: 16%;
	height:100%;
	margin-left:2%;
	margin-bottom:2% ;
}
#article2 {
	width: 72%;
	margin-left: 16%;
	line-height: 1.5rem;
	font-family: PingFangHK-Light;
	font-size: 0.9rem;
	color: #4F6E62;
	letter-spacing: 0;
}
.hide {
	display: none;
}

/*
 * 新加的部分*/
.bgcolor {
	background: #427F98;
	opacity: 0.9;
}
.bgpic {
	background:url(../img/newbg.png) no-repeat center center fixed ;
	background-size: cover;
}
.bgblue {
	background:#25637C;
}
.bgcolorf {
	background: #fff;
}
  #shard {
        position: absolute;
        display: block;
        top: 0px;
        left:25%;
        width: 100%;
        height: 100%;
        z-index: 500;
        opacity: 0;
    }
