body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
/*input::-webkit-input-speech-button {display: none}*/
button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	position: fixed;
	-webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/  
}
.container {
width: 3.2rem;
height: 5.68rem;
}
.right {
	width: 3.2rem;
	height: 5.68rem;
}
#lw {
	background:url(../img/newbg2.png) no-repeat 0.38rem 0.2rem ;
	background-size:2.82rem 1.24rem;
	width: 3.2rem;
	height: 5.68rem;
	position: relative;
	overflow: hidden;
}
.biglogo {
	position: absolute;
	top:0.3rem;
	left: 1rem;
	width: 1.2rem;
	height: 0.271rem;
    margin: 0 auto;
}
.word {
	position: absolute;
    top:0.71rem;
	left: 0.43rem;
    color: #013A4C;
    font-size: 0.24rem;
    letter-spacing: 0.02rem;
    text-align: justify;
    font-family: PingFangHK-Light;
}
.back {
	position: fixed;
	width: 0.35rem;
	height: 0.35rem;
	top:0.18rem;
	left: 0.24rem;
	z-index: 500;
}
.back1 {
	position: fixed;
	width: 0.35rem;
	height: 0.35rem;
	top:0.14rem;
	left: 0.24rem;
	z-index: 500;
}
.lg0 {
	width: 0.42rem;
	height: 0.53rem;
	position: absolute;
	top:1.11rem;
	left: 2.27rem;
}
#lg1 {
	width: 1.43rem;
	height: 0.6rem;
	position: absolute;
	top:1.53rem;
	left: 0;
}
#lg2 {
	width: 1.48rem;
	height: 0.6rem;
	position: absolute;
	top:1.91rem;
	right: 0;
}
#lg3 {
	width: 1.69rem;
	height: 0.6rem;
	position: absolute;
	top:2.5rem;
	left: 0;
}
#lg4 {
	width: 2.49rem;
	height: 0.6rem;
	position: absolute;
	top:3.34rem;
	right: 0;
}
#lg5 {
	width: 2.32rem;
	height: 0.6rem;
	position: absolute;
	top:4.01rem;
	left: 0;
}
.line1 {
	width:0.82rem;
	height:0.01rem;
	background: #8EC31F;
	position: absolute;
	top:0.3rem;
	left: 0;
}
.line2 {
	width:0.87rem;
	height:0.01rem;
	background: #8EC31F;
	position: absolute;
	top:0.3rem;
	right: 0;
}
.line3 {
	width:1.07rem;
	height:0.01rem;
	background: #8EC31F;
	position: absolute;
	top:0.3rem;
	left: 0;
}
.line4 {
	width:1.88rem;
	height:0.01rem;
	background: #8EC31F;
	position: absolute;
	top:0.3rem;
	right: 0;
}
.line5 {
	width:1.72rem;
	height:0.01rem;
	background: #8EC31F;
	position: absolute;
	top:0.3rem;
	left: 0;
}
#lgbtn1 {
	width:0.6rem ;
	height: 0.6rem;
	border-radius: 50%;
	border:0.01rem solid #8EC31F;
	position: absolute;
	top:0;
	right: 0;
	z-index: 500;
}
#lgbtn2 {
	width:0.6rem ;
	height: 0.6rem;
	border-radius: 50%;
	border:0.01rem solid #8EC31F;
	position: absolute;
	top:0;
	left: 0;
	z-index: 500;
}
#lgbtn3 {
	width:0.6rem ;
	height: 0.6rem;
	border-radius: 50%;
	border:0.01rem solid #8EC31F;
	position: absolute;
	top:0;
	right: 0;
	z-index: 500;
}
#lgbtn4 {
	width:0.6rem ;
	height: 0.6rem;
	border-radius: 50%;
	border:0.01rem solid #8EC31F;
	position: absolute;
	top:0;
	left: 0;
	z-index: 500;
}
#lgbtn5 {
	width:0.6rem ;
	height: 0.6rem;
	border-radius: 50%;
	border:0.01rem solid #8EC31F;
	position: absolute;
	top:0;
	left: 1.72rem;
	z-index: 500;
}
#lgbtn1 img {
	margin-left:0.135rem ;
	margin-top: 0.14rem;
	width: 0.33rem;
	height: 0.32rem;
	}
#lgbtn2 img {
	margin-left:0.15rem ;
	margin-top: 0.17rem;
	width: 0.3rem;
	height: 0.26rem;
	}
#lgbtn3 img {
	margin-left:0.14rem ;
	margin-top: 0.15rem;
	width: 0.32rem;
	height: 0.30rem;
	}
#lgbtn4 img {
	margin-left:0.135rem ;
	margin-top: 0.14rem;
	width: 0.33rem;
	height: 0.32rem;
	}
#lgbtn5 img {
	margin-left:0.15rem ;
	margin-top: 0.15rem;
	width: 0.3rem;
	height: 0.3rem;
	}
.w1{
	position: absolute;
	top:0.1rem;
	right:0.64rem ;
	font-size: 0.12rem;
	font-family: PingFangHK-Semibold;
	color: #8EC31F;
	letter-spacing: 0;
}
.w2{
	position: absolute;
	top:-0.06rem;
	left:0.64rem ;
	font-size: 0.12rem;
	font-family: PingFangHK-Semibold;
	color: #8EC31F;
	letter-spacing: 0;
}
.w3{
	position: absolute;
	top:-0.06rem;
	right:0.64rem ;
	font-size: 0.12rem;
	font-family: PingFangHK-Semibold;
	color: #8EC31F;
	letter-spacing: 0;
}
.w4{
	position: absolute;
	top:-0.06rem;
	left:0.64rem ;
	font-size: 0.12rem;
	font-family: PingFangHK-Semibold;
	color: #8EC31F;
	letter-spacing: 0;
}
.w5{
	position: absolute;
	top:0.1rem;
	right:0.64rem ;
	font-size: 0.12rem;
	font-family: PingFangHK-Semibold;
	color: #8EC31F;
	letter-spacing: 0;
}
#about1 {
	width: 3.2rem;
	height: 5.68rem;
	position:relative;
	transform: translate(0,0);
}
.abstory {
	width: 0.36rem;
	height: 0.14rem;
	opacity: 0.9;
	font-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	font-weight: 600;
	color: #406C77;
	letter-spacing: 0;
	text-align: right;
	position: fixed;
	top:0.13rem;
	right: 0.24rem;
}
.gushi {
	width: 0.35rem;
	height: 0.22rem;
	position: fixed;
	top:0.38rem;
	right: 0.24rem;
	opacity: 0.9;
	font-family: PingFangHK-Semibold;
	font-size: 0.16rem;
	font-weight: 600;
	color: #406C77;
	letter-spacing: 0;
	text-align: right;
}
.absolution {
	position: absolute;
	top:0.14rem;
	left: 2.35rem;
	ont-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	font-weight: 600;
	color: #406C77;
	letter-spacing: 0;
	text-align: justify;
}
.aabs {
	position: absolute;
	top:0.38rem;
	left: 1.62rem;
	ont-family: PingFangHK-Semibold;
	font-size: 0.16rem;
	font-weight: 600;
	color: #406C77;
	letter-spacing: 0;
	text-align: justify;
}
#teaimg {
	width:100% ;
	height: 1.63rem;
    position: fixed;  
    top: 0.74rem;  
    left: 0.24rem;  
    bottom: 2.95rem; 
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/ 
}
#teaimg1 {
	width:5rem;
	height: 1.63rem;
}
#teaimg img {
	width:2.46rem;
	height: 1.63rem;
	margin-right: 0.04rem;
}
#article {            
	height:2rem;                                  /* gai*/
	position: fixed; 
	left:0.24rem;
	top: 2.51rem;
	width:2.8rem;
	bottom: 0%;
	overflow-y: scroll; 
	background:#fff;
	-webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/  
}
#aboutarticle {
	width:2.72rem ;
	height: 2.17rem;
	padding-right: 0.1rem;
	font-family: PingFangHK-Light;
	font-size: 0.12rem;
	color: #4F6E62;
	letter-spacing: 0;
	text-align: justify;
}
#solution1 {
	width: 3.2rem;
	height: 5.68rem;
	/*position: relative;*/
	transform:translate(0,0);
}
#solutionimg {
	width:100% ;
	height: 5.68rem;
    position: fixed;  
    top: -0.5rem;  
    left: 0.24rem;  
    bottom: 0; 
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/ 
}
.soll {
	width:6.21rem;
	height: 100%;
}
.soll img {
	/*width:9.32rem;*/
	height: 100%;
}
#article1{
	position: fixed;
	left:0;
	top: 3.34rem;
	width:100%;
	height:1.3rem;
	bottom: 1rem;
	overflow-y: scroll; 
	background:#92AA8B;
	-webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/  
}
#solutionarticle {
	width:2.57rem;
	height: 1.5rem;
	margin: 0 auto;
	padding-top: 0.14rem;
	/*padding-bottom: 0.39rem;*/
	font-family: PingFangHK-Light;
	font-size: 0.12rem;
	color: #fff;
	letter-spacing: 0;
}
#solutionbg {
	position: fixed;
	top:-0.2rem;
	left: -0.27rem;
	width: 5.18rem;
	height: 100%;
	z-index: -100;
	  -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/ 
}
#dat1,#dat2 {
	width: 3.2rem;
	height: 5.68rem;
	position: relative;
	transform:translate(0,0);
	background: #25637C;
}
#realtitle{
	width: 1.1rem;
	height: 0.2rem;
	position: fixed;
	top:0.14rem;
	right: 0.24rem;
	opacity: 0.9;
	font-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: right;
}
.rea {
	text-align: right;
	position: fixed;
	top:0.40rem;
	right: 0.24rem;
	opacity: 0.9;
	font-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: justify;
}
.dat1contain {
	position: fixed;
	top:0.74rem;
	left: 0.205rem;
	width:2.79rem ;
	bottom: 1rem;                                         
	font-size: 0.13rem;
	color:#fff;
	text-align: center;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}
.dat1contain>div{
	width: 1.385rem;
	height:1.335rem;
	float: left;
}
.td {
	border-right:0.01rem solid rgba(143,195,31,0.3);
	 border-bottom:0.01rem solid rgba(143,195,31,0.3);
	 }
.td1 {
	border-bottom:0.01rem solid rgba(143,195,31,0.3);
	 }
.td5 {
	border-right:0.01rem solid rgba(143,195,31,0.3);
}
.dat1contain img {
	width:0.6rem ;
} 
.tt {
	padding-top: 0.15rem;
}
.dat1contain span {
	font-size: 0.2rem;
}
.dat1contain .dif {
 	font-size: 0.12rem;
	color:#36E39C ;
}
.tabcontain {
	padding-top: 0.498rem;
	position: relative;
}
#box3 {
	position: fixed;
	left:0.27rem;
	top: 0.75rem;
	width: 2.66rem;
	bottom: 1.1rem;                                                         
	margin: 0 auto;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}
#box33 {
	position: fixed;
	left:0.3rem;
	top: 0.75rem;
	width: 2.7rem;
	bottom: 1.1rem;                                                         
	margin: 0 auto;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}
#box333 {
	position: fixed;
	left:0.3rem;
	top: 0.75rem;
	width: 2.7rem;
	bottom: 1.1rem;                                                         
	margin: 0 auto;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}
#time11 {
	position: absolute;
	top:0.53rem;
	right: 0.24rem;
	width:0.8rem ;
	height: 0.25rem;
	opacity: 0.7;
	font-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	color: #fff;
	letter-spacing: 0;
	text-align: justify;
}
#slider {
	position: absolute;
    top:0.14rem;
    right: 0.24rem;
	width:0.98rem;
	height: 0.32rem;
	border-radius:   18.36% 18.36% 18.36% 18.36%/  50% 50% 50%;
	background: #759F1F;
	color: #fff;
	z-index: 1;
}
.green {
	position: absolute;
    top:0;
    left: 0;
	border-radius: 50%;
	width: 0.32666666rem;
	height:0.32rem;
	background:#92C627 ;
	 -webkit-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
	-moz-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
	-o-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
	-ms-transition: all 400ms cubic-bezier(.45,1.92,.9,1.54);
	transition: all 400ms cubic-bezier(.16,1.23,.87,1.18);
	z-index:2 ;
}
#sl1 {
	position: absolute;
	background-color:rgba(255,255,255,0);
	display:flex;/*Flex布局*/
    align-items:center;/*指定垂直居中*/
    text-align: center;
	border-radius: 50%;
	width: 0.32666666rem;
	height:0.32rem;
	left:0;
	top:0;
	z-index: 3;
}
#sl2 {
	position: absolute;
	background-color:rgba(255,255,255,0);
	display:flex;/*Flex布局*/
    align-items:center;/*指定垂直居中*/
    text-align: center;
	border-radius: 50%;
	width: 0.32666666rem;
	height:0.32rem;
	left:0.32666666rem ;
	top:0;
	z-index: 3;
}
#sl3 {
	position: absolute;
	background-color:rgba(255,255,255,0);
	display:flex;/*Flex布局*/
    align-items:center;/*指定垂直居中*/
    text-align: center;
	border-radius: 50%;
	width: 0.32666666rem;
	height:0.32rem;
	left:0.6533333rem;
	top:0;
	z-index: 3;
}
.sub img {
	width:0.41rem;
	height: 0.41rem;
	vertical-align: middle;
}
.sub {
	position: absolute;
	top:0.1rem;
	left: 0.1rem;
	font-size: 0.12rem;
	text-align: left;
	width: 2rem;
	height:0.41rem;
	vertical-align: middle;
    color: #fff;
}
#application1 {
	width: 3.2rem;
	height: 5.68rem;
	position: relative;
	background: #fff;
}
.abapplication {
	position: absolute;
	top:0.14rem;
	right: 0.3rem;
	opacity: 0.9;
	font-weight: 600;
	font-family: PingFangHK-Semibold;
	font-size: 0.14rem;
	color: #406C77;
	letter-spacing: 0;
	text-align: right;
	
}
.aba {
	position: absolute;
	top:0.38rem;
	right: 0.3rem;
	opacity: 0.9;
	font-weight: 600;
	font-family: PingFangHK-Semibold;
	font-size: 0.16rem;
	color: #406C77;
	letter-spacing: 0;
	text-align: right;
}
#box4{
	width: 2.6rem;
	position: absolute;
	top:0.74rem;
	left: 0.3rem;
	height: 4rem;
}
#appimg {
	width:2.6rem;
	height: 2.56rem;
	margin: 0 auto;
}
#appimg img {
	width: 1.17rem;
	height:1.17rem;
	margin-bottom:0.14rem;
}
.pic1 {
	margin-right: 0.26rem;
}
#article2 {
	left: 0.295rem;
	width: 2.61rem;
	height: 2.72rem;
	font-family: PingFangHK-Light;
	font-size: 0.12rem;
	color: #4F6E62;
	letter-spacing: 0;
	text-align: justify;
	}
.hide {
	display: none;
}
.hide1 {
	display: none;
}
