<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta content="telephone=no,email=no" name="format-detection" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<link style="text:css" rel="stylesheet" href="../static/css/1.css">
		<script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.js"></script>
		<title>智慧茶园</title>
	</head>
	<body>
		<div class="container">
			<div id="main"></div>

		    <div id="main1" style="position: relative;">
		    	<div id="1" style="float:left;width: 65%; border:none;margin:0 2px;"></div>
		    	<div id="2" style="float:left;border:none;position: absolute;top:25%;left: 65%;">
		    		<p>PM10:<span>1</span></p>
		    		<p>PM2.5:<span>2</span></p>
		    		<p>NO<sub>2</sub>:<span>3</span></p>
		    		<p>SO<sub>2</sub>:<span>4</span></p>
		    		<p>O<sub>2</sub>:<span></span></p>
		    		<p>CO<sub>2</sub>:<span></span></p>
		    	</div>
		    </div>
			<div id="main2"></div>
			<div id="main3"></div>
			<div id="main4"></div>
			<div id="main5"></div>
			<div id="main6"></div>

		</div>
			<script type="text/javascript" src="../static/js/2.js"></script>
	</body>
</html>
