<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <script type="text/javascript">
    // 根据屏幕尺寸
    if (window.innerWidth < 800) {
      document.write(
        '<script type="text/javascript" >!function(e,t){function n(){var n=l.getBoundingClientRect().width;t=t||540,n>t&&(n=t);var i=100*n/e;r.innerHTML="html{font-size:"+i+"px;}"}var i,d=document,o=window,l=d.documentElement,r=document.createElement("style");if(l.firstElementChild)l.firstElementChild.appendChild(r);else{var a=d.createElement("div");a.appendChild(r),d.write(a.innerHTML),a=null}n(),o.addEventListener("resize",function(){clearTimeout(i),i=setTimeout(n,300)},!1),o.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(i),i=setTimeout(n,300))},!1),"complete"===d.readyState?d.body.style.fontSize="16px":d.addEventListener("DOMContentLoaded",function(e){d.body.style.fontSize="16px"},!1)}(320,780);<\/script>'
      );
    } else {
      document.write(
        '<script type="text/javascript" >!function(e,t){function n(){var n=l.getBoundingClientRect().width;t=t||540,n>t&&(n=t);var i=100*n/e;r.innerHTML="html{font-size:"+i+"px;}"}var i,d=document,o=window,l=d.documentElement,r=document.createElement("style");if(l.firstElementChild)l.firstElementChild.appendChild(r);else{var a=d.createElement("div");a.appendChild(r),d.write(a.innerHTML),a=null}n(),o.addEventListener("resize",function(){clearTimeout(i),i=setTimeout(n,300)},!1),o.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(i),i=setTimeout(n,300))},!1),"complete"===d.readyState?d.body.style.fontSize="16px":d.addEventListener("DOMContentLoaded",function(e){d.body.style.fontSize="16px"},!1)}(1366,5000);<\/script>'
      );
    }
  </script>
  <link media="(min-width:800px)" style="text:css" rel="stylesheet" href="../static/css/desktop.css">
  <link media="(max-width:800px)" style="text:css" rel="stylesheet" href="../static/css/mobile.css">
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/echarts.min.js"></script>
  <script id="sc1" type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
  <title>lotea</title>
</head>
<body>
  <div class="sk-spinner" v-if="mobile"></div>
  <div id="app">
    <div class="loading" v-show="lgbtn4aa&&mobile" :class="{'fadeout': loadingfade,'hide':!lgbtn4aa}"></div>
    <div class="loading1" v-show="!load && !mobile">
      <div></div>
    </div>
    <div class="container hide" id="container">
      <div id="right" v-if="mobile">
        <div id="lw" v-show="lwa">
          <div class="biglogo"><img src="../static/img/Artboard 1 Copy.png"></div>
          <div class="word">蒙顶山，物联网的茶</div>
          <div class="trans"><span id="eng" @click.stop="chooseEnglish" :class="{'engclick': eng}">EN</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="chin" @click.stop="chooseChinese" :class="{'engclick': chin}">中</span></div>
          <div class="lg0"><img src="../static/img/INTERNET OF TEA Copy.png"></div>
          <div id="lg1">
            <div class="line1"></div>
            <div class="w1" v-html="msg.w1"></div>
            <div id="lgbtn1" class="lgbtn1" :class="{'lgbtns': touchstart1,'lgbtnss': touched1}" @touchstart="t1()" @touchend="t11()"><img src="../static/img/3.png"></div>
          </div>
          <div id="lg2">
            <div class="line2"></div>
            <div class="w2" v-html="msg.w2"></div>
            <div id="lgbtn2" class="lgbtn2" :class="{'lgbtns': touchstart2,'lgbtnss': touched2}" @touchstart="t2()" @touchend="t22()"><img src="../static/img/1.png"></div>
          </div>
          <div id="lg3">
            <div class="line3"></div>
            <div class="w3" v-html="msg.w3"></div>
            <div id="lgbtn3" class="lgbtn3" :class="{'lgbtns': touchstart3,'lgbtnss': touched3}" @touchstart="t3()" @touchend="t33()"><img src="../static/img/2.png"></div>
          </div>
          <div id="lg4">
            <div class="line4"></div>
            <div :class="{'w4': chin,'w444': eng}" v-html="msg.w4"></div>
            <div id="lgbtn4" class="lgbtn4" :class="{'lgbtns': touchstart4,'lgbtnss': touched4}" @touchstart="t4()" @touchend="t44()"><img src="../static/img/4.png"></div>
          </div>
          <div id="lg5">
            <div class="line5"></div>
            <div class="w5" v-html="msg.w5"></div>
            <div id="lgbtn5" class="lgbtn5" :class="{'lgbtns': touchstart5,'lgbtnss': touched5}" @touchstart="t5()" @touchend="t55()"><img src="../static/img/5.png"></div>
          </div>
        </div>
        <div id="about1" v-show="lgbtn1a">
          <div :class="{'gushi': chin,'gushi1':eng}" v-html="msg.w11"></div>
          <div class="back" @click.stop="back"><img src="../static/img/back1.png"></div>
          <div class="articlecontain">
            <img class="p1" src="../static/img/WechatIMG686.png">
            <div class="ww" v-html="msg.article1ww1">
            </div>
            <img class="p1" src="../static/img/WechatIMG669.png">
            <div class="ww" v-html="msg.article1ww2">
            </div>
            <img class="p1" src="../static/img/WechatIMG672.png">
            <div class="ww" v-html="msg.article1ww3"></div>
            <img class="p1 p11" src="../static/img/WechatIMG667.png">
          </div>
        </div>
        <div id="solution1" v-show="lgbtn2a">
          <div class="back" @click.stop="back"><img src="../static/img/back1.png"></div>
          <div :class="{'aabs': chin,'aabs1':eng}" v-html="msg.w44"></div>
          <div id="solutionimg">
            <div class="soll"><img id="solimg" :src="msg.src"></div>
          </div>
          <div id="solutionbg"><img src="../static/img/rebg.png"></div>
          <div id="article1">
            <div id="solutionarticle" v-html="msg.solutionarticle">
            </div>
          </div>
        </div>
        <div id="dat1" v-show="lgbtn3a">
          <div class="back" @click.stop="back"><img src="../static/img/back2.png"></div>
          <div id="realtitle" v-html="msg.w22"></div>
          <div class="rea"><span id="time1"></span></div>
          <div class="dat1contain">
            <div class="td td3 td4">
              <img src="../static/img/Temperature.png"></br>
              <span class="dif" v-html="msg.datacontain1"></span></br>
              <span id="Temperature" v-html="Temperature"></span>℃
            </div>
            <div class="td1 td3 td4">
              <img src="../static/img/Humidity.png"></br>
              <span class="dif" v-html="msg.datacontain2"></span></br>
              <span id="Humidity" v-html="Humidity"></span>%
            </div>
            <div class="td td4 tt">
              <img src="../static/img/Illumination.png"></br>
              <span class="dif" v-html="msg.datacontain3"></span></br>
              <span id="Illumination" v-html="Illumination"></span>
            </div>
            <div class="td1 td3 tt">
              <img src="../static/img/Carbon Dioxide.png"></br>
              <span class="dif" v-html="msg.datacontain4"></span></br>
              <span id="CarbonDioxide" v-html="CarbonDioxide"></span>PPM
            </div>
            <div class="td td4 tt">
              <img src="../static/img/Group 8 Copy.png"></br>
              <span class="dif" v-html="msg.datacontain5"></span></br>
              <span id="Oxygen" v-html="Oxygen"></span>%
            </div>
            <div class="td1 td3 tt">
              <img src="../static/img/Dust.png"></br>
              <span class="dif" v-html="msg.datacontain6"></span></br>
              <span id="Dust" v-html="Dust"></span>pcs/0.01cf
            </div>
            <div class="td3 td5 tt">
              <img src="../static/img/Temperature.png"></br>
              <span class="dif" v-html="msg.datacontain7"></span></br>
              <span id="SoilTemperature" v-html="SoilTemperature"></span>℃
            </div>
            <div class="tt">
              <img src="../static/img/Humidity.png"></br>
              <span class="dif" v-html="msg.datacontain8"></span></br>
              <span id="SoilMoisture" v-html="SoilMoisture"></span>%
            </div>
          </div>
        </div>
        <div id="dat2" v-show="lgbtn4a" :class="{'datloading': lgbtn4aa}">
          <div class="back" @click.stop="back"><img src="../static/img/back2.png"></div>
          <div id="slider" :class="{'slider': chin,'slider1':eng}">
            <div :class="{'green': chin,'green11': eng,'green1': chin&&green1,'green2': chin&&green2,'green3': chin&&green3,'green111': eng&&green1,'green222': eng&&green2,'green333': eng&&green3}"></div>
            <div id="sl1" @click.stop="sl1clik" :class="{'sl1': chin,'sl11':eng}" v-html="msg.sl1"></div>
            <div id="sl2" @click.stop="sl2clik" :class="{'sl2': chin,'sl22':eng}" v-html="msg.sl2"></div>
            <div id="sl3" @click.stop="sl3clik" :class="{'sl3': chin,'sl33':eng}" v-html="msg.sl3"></div>
          </div>
          <div id="time11" :class="{'time11': chin,'time111': eng}" v-html="timee"></div>
          <div id="box3" v-show="box3a">
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main1"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main2"></div>
            </div>
            <div class="tabcontain">
              <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
              <div id="main3"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
              <div id="main5"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main6"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
              <div id="main4"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main7"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main8"></div>
            </div>
          </div>
          <div id="box33" v-show="box33a">
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main11"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main22"></div>
            </div>
            <div class="tabcontain">
              <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
              <div id="main33"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
              <div id="main55"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main66"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
              <div id="main44"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main77"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main88"></div>
            </div>
          </div>
          <div id="box333" v-show="box333a">
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main111"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main222"></div>
            </div>
            <div class="tabcontain">
              <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
              <div id="main333"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
              <div id="main555"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main666"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
              <div id="main444"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
              <div id="main777"></div>
            </div>
            <div class="tabcontain">
              <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
              <div id="main888"></div>
            </div>
          </div>
        </div>
        <div id="application1" v-show="lgbtn5a">
          <div class="back" @click.stop="back"><img src="../static/img/back1.png"></div>
          <div class="aba" v-html="msg.w55"></div>

          <div id="box4">
            <div id="appimg"><img class="pic1" src="../static/img/Group 6.png"><img src="../static/img/Group 7.png"> <img class="pic1" src="../static/img/Group 18.png"><img src="../static/img/Group 20 Copy.png"></div>
            <div id="article2" v-html="msg.article2">
            </div>
          </div>
        </div>
      </div>
      <div id="right" v-else>
        <div class="menu" id="menu">
          <div class="menubox">
            <div class="menulogo" @click.stop="iotLogo"><img src="../static/img/biglogo.png" alt=""></div>
            <div class="trans" id="trans"><span id="eng" @click.stop="chooseEnglish" :class="{'engclick': eng, 'chinclick': !eng}">EN</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="chin" @click.stop="chooseChinese" :class="{'engclick': chin, 'chinclick': !chin}">中</span></div>
            <ul class="ul" id="u">
              <li id="story" @click.stop="storyclick" class="whitecolor" @mouseover="storymove" @mouseleave="storyleave"><a href="javascript:void(0);" v-html="msg.w11"></a></li>
              <li class="bottomline1" v-show="story"></li>
              <li class="bottomline11"></li>
              <li id="data" v-html="msg.w22" @click.stop="dataclick" class="whitecolor" @mouseover="datamove" @mouseleave="dataleave">
              </li>
              <li class="bottomline2" v-show="data1 || data2"></li>
              <li class="bottomline02"></li>
              <li id="solution" @click.stop="solutionclick" class="whitecolor" @mouseover="solumove" @mouseleave="soluleave"><a href="javascript:void(0);" v-html="msg.w44"></a></li>
              <li class="bottomline3" v-show="solution"></li>
              <li class="bottomline33"></li>
              <li id="application" @click.stop="appclick" class="whitecolor" @mouseover="appmove" @mouseleave="appleave"><a href="javascript:void(0);" v-html="msg.w55"></a></li>
              <li class="bottomline4" v-show="app"></li>
              <li class="bottomline44"></li>
            </ul>
          </div>
        </div>
        <div id="lwbox">
          <div id="lw">
            <div id="lwb">
              <video autoplay loop muted width="100%" height="100%">
                <source src="http://statics3.seeedstudio.com/files/20182/IOTEA10B.mp4" type="video/mp4">
                  <!-- 若浏览器不支持视频 -->
                <img id="lwb" src="https://statics3.seeedstudio.com/images/20182/bigindex01.png" alt="">
              </video>
            </div>
            <div class="biglogo" :class="{'shengtai1': load}"><img src="../static/img/biglogo.png"></div>
            <div class="tea-text">
              <div :class="{'shengtai1': load}">蒙顶山，物联网的茶</div>
              <div class="ital" :class="{'shengtai1': load}">
                <p>INTERNET</p>
                <p>OF</p>
                <p>TEA</p>
              </div>
            </div>
            <div class="shengtai" :class="{'shengtai1': load}">Seeed IoTea 智慧生态茶园</div>
          </div>
        </div>
        <div id="aboutbox">
          <div id="about1">
            <div :class="{'gushi': chin,'gushi1':eng}" v-html="msg.w11"></div>
            <div class="aboutimg">
              <div class="aboutimg1">
                <img class="p1" src="https://statics3.seeedstudio.com/images/20182/66aa85d56924a.png">
                <img class="p1" src="https://statics3.seeedstudio.com/images/20182/66aa85d64fb98.png">
                <img class="p1" src="https://statics3.seeedstudio.com/images/20182/66aa85d69d63c.png">
                <img class="p1" src="https://statics3.seeedstudio.com/images/20182/66aa85d743cdc.png">
              </div>
            </div>
            <div class="btn-next" @click.stop="nextFn">
              <img src="../static/img/right.png" alt="" v-if="nextStatus == 1">
              <img src="../static/img/left.png" alt="" v-else>
            </div>
            <div class="articlecontain" v-html="msg.article1ww">
            </div>
          </div>
        </div>
        <div class="now-all">
          <!-- <div id="bar1" v-show="!bar" @click.stop="bar1click"><img src="../static/img/Group 16.png"></div> -->
          <ul class="ull" v-show="data">
            <li @click.stop="data1click" class="dat1li" class="whitecolor" @mouseover="dat1move" @mouseleave="dat1leave"><a href="javascript:void(0);" v-html="msg.w221"></a></li>
            <li class="bottomline21" v-show="data1"></li>
            <li class="bottomline211"></li>
            <li @click.stop="data2click" class="dat2li" class="whitecolor" @mouseover="dat2move" @mouseleave="dat2leave"><a href="javascript:void(0);" v-html="msg.w222"></a></li>
            <li class="bottomline22" v-show="data2"></li>
            <li class="bottomline222"></li>
          </ul>
          <div id="dat1box">
            <div id="dat1">
              <div id="realtitle" v-html="msg.w22"></div>
              <div class="rea"><span id="time1" v-html="timee1"></span></div>
              <div class="dat1contain">
                <div class="td td1">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864ae2375.png"></br>
                  <span class="dif" v-html="msg.datacontain1"></span></br>
                  <span id="Temperature" v-html="Temperature"></span>℃
                </div>
                <div class="td td1">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864bc92c0.png"></br>
                  <span class="dif" v-html="msg.datacontain2"></span></br>
                  <span id="Humidity" v-html="Humidity"></span>%
                </div>
                <div class="td td1">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864ca4459.png"></br>
                  <span class="dif" v-html="msg.datacontain3"></span></br>
                  <span id="Illumination" v-html="Illumination"></span>
                </div>
                <div class="td1">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864d8302a.png"></br>
                  <span class="dif" v-html="msg.datacontain4"></span></br>
                  <span id="CarbonDioxide" v-html="CarbonDioxide"></span>PPM
                </div>
                <div class="td">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864de2f0d.png"></br>
                  <span class="dif" v-html="msg.datacontain5"></span></br>
                  <span id="Oxygen" v-html="Oxygen"></span>%
                </div>
                <div class="td td3">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864e85333.png"></br>
                  <span class="dif" v-html="msg.datacontain6"></span></br>
                  <span id="Dust" v-html="Dust"></span>pcs/0.01cf
                </div>
                <div class="td">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864ae2375.png"></br>
                  <span class="dif" v-html="msg.datacontain7"></span></br>
                  <span id="SoilTemperature" v-html="SoilTemperature"></span>℃
                </div>
                <div class="tt">
                  <img src="https://statics3.seeedstudio.com/images/20182/66aa864bc92c0.png"></br>
                  <span class="dif" v-html="msg.datacontain8"></span></br>
                  <span id="SoilMoisture" v-html="SoilMoisture"></span>%
                </div>
              </div>
            </div>
          </div>
          <div id="dat2box">
            <div id="dat2">
              <div class="historybox">
                <div class="dat2title" v-html="msg.w33"></div>
                <div id="slider" :class="{'slider': chin,'slider1':eng}">
                  <div class="green" v-show="eng" :class="{'green1': green1,'green2': green2,'green3': green3}"></div>
                  <div class="green" v-show="chin" :class="{'green11': green11,'green22': green22,'green33': green33}"></div>
                  <div id="sl1" @click.stop="sl1clik" :class="{'sl1': eng,'sl11':chin}" v-html="msg.sl1"></div>
                  <div id="sl2" @click.stop="sl2clik" :class="{'sl2': eng,'sl22':chin}" v-html="msg.sl2"></div>
                  <div id="sl3" @click.stop="sl3clik" :class="{'sl3': eng,'sl33':chin}" v-html="msg.sl3"></div>
                </div>
                <div id="time11" :class="{'time11': chin,'time111': eng}" v-html="timee"></div>
              </div>
              <div id="box3" v-show="box3a">
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main1"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main2"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
                  <div id="main3"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
                  <div id="main5"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main6"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
                  <div id="main4"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main7"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main8"></div>
                </div>
              </div>
              <div id="box33" v-show="box33a">
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main11"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main22"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
                  <div id="main33"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
                  <div id="main55"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main66"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
                  <div id="main44"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main77"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main88"></div>
                </div>
              </div>
              <div id="box333" v-show="box333a">
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain1"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main111"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain2"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main222"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub tt"><img src="../static/img/Illumination.png"><span v-html="msg.datacontain3"></span></div>
                  <div id="main333"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Carbon Dioxide.png"><span v-html="msg.datacontain4"></span><span style="font-size: 0.1rem;">/PPM</span></div>
                  <div id="main555"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Group 8 Copy.png"><span v-html="msg.datacontain5"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main666"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Dust.png"><span v-html="msg.datacontain6"></span><span style="font-size: 0.1rem;">/pcs 0.01cf</span></div>
                  <div id="main444"></div>
                </div>
                <div class="tabcontain">
                  <div class="sub"><img src="../static/img/Temperature.png"><span v-html="msg.datacontain7"></span><span style="font-size: 0.1rem;">/°C</span></div>
                  <div id="main777"></div>
                </div>
                <div class="tabcontain" style="margin-right: 0;">
                  <div class="sub"><img src="../static/img/Humidity.png"><span v-html="msg.datacontain8"></span><span style="font-size: 0.1rem;">/%</span></div>
                  <div id="main888"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="solubox">
          <div id="solution1">
            <div class="solu-text">
              <div class="aabs" v-html="msg.w44"></div>
              <div id="article1">
                <div id="solutionarticle" v-html="msg.solutionarticle"></div>
              </div>
            </div>
            <div id="solutionimg"><img id="solimg" :src="msg.src"></div>
          </div>
        </div>
        <div id="appbox">
          <div id="application1" class="page">
            <div class="aba" v-html="msg.w55"></div>
            <div id="article2" v-html="msg.article2"></div>
            <div id="appimg">
              <img class="pic11" src="https://statics3.seeedstudio.com/images/20182/66aa863d803ba.png">
              <img class="pic22" src="https://statics3.seeedstudio.com/images/20182/66aa863e3c57d.png">
              <img class="pic33" src="https://statics3.seeedstudio.com/images/20182/66aa863e78b16.png">
              <img class="pic44" src="https://statics3.seeedstudio.com/images/20182/66aa863f2a9b3.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.addEventListener("resize", function() {
      location.reload()
    });
    if (window.innerWidth < 800) {
      document.write('<script id="sc1" type="text/javascript" src="../static/js/1.js"><\/script>');
    } else {
      document.write('<script id="sc2" type="text/javascript" src="../static/js/2.js"><\/script>');
    }
    </script>
</body>
</html>
